<a href="https://colab.research.google.com/github/ROMEROErnest/58002_OOP/blob/main/LoopStatement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

For Loop

In [7]:
week = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"]
for x in week:
  print(x)

Sunday
Monday
Tuesday
Wednesday
Thursday
Friday
Saturday

For Loop using BreaK Statement

In [11]:
for x in week:
  print(x)
  if x== "Thursday":
      break

Sunday
Monday
Tuesday
Wednesday
Thursday

To display only Thursday

In [16]:
for x in week:

  if x == "Thursday":
   print(x)
   break

Thursday

Range() Function

In [17]:
for x in range(6):
  print(x)

0
1
2
3
4
5

Nested Loop

In [19]:
adjective = ["Red", "Big", "Tasty"]
fruits = ["Apple", "Banana", "Cherry"]
for x in adjective:
   for y in fruits:
     print(x,y)

Red Apple
Red Banana
Red Cherry
Big Apple
Big Banana
Big Cherry
Tasty Apple
Tasty Banana
Tasty Cherry

While Loop

In [20]:
i = 1
while i<=6:
  print(i)
  i += 1

1
2
3
4
5
6

While Loop using Break Statement

In [24]:
i = 1
while i <= 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3

Display only 3

In [27]:
i = 1
while 1 <= 6:
  if i == 3:
   print (i)
   break
  i += 1

3

Let's try 1

In [28]:
x=0
while x <= 10:
  print("Hello", x)
  x += 1

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
Hello 10

Let's Try 2

In [35]:
x = 1
while x < 10:
  if x < 3:
    print()
    x += 1
  else:
    print(x)
    x += 1

3
4
5
6
7
8
9